body{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 20px;
    height: 90px;
    font-family: 'Roboto', sans-serif;
}
header nav{
    width: 85%;
    margin: 0 auto;
}
header ul{
    float: right;
    width: 30%;
}
header nav ul li{
    list-style: none;
    float: left;
    margin-left: 10%;
    font-weight: 700;
}
.top-section,
.second-section{
    height: 600px;
}
.half-width{
    width: 40%;
    margin-left: 10%;
    float: left;
}
.half-width img{
    width: 85%;
}
.colorful-text{
    color: #FF8367;

}
 h1{
     font-size: 80px;
     font-family: 'Bebas Neue', cursive;
     color: #363958;
     font-weight: 400;
     margin: 0;
 }
 h2{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 10px;
 }
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    font-weight: 400;
}
.link-button{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 20px 45px;
    text-decoration: none;
    background-image: linear-gradient(180deg, #F46060, #FF8063);
    border-radius: 6px;
    font-weight: 400;
}
.top-section p, .second-section p{
    margin-bottom: 58px;
}
.second-section p{
    padding-right: 100px;
}
.top-section .half-width:nth-child(1){
    padding-top: 55px;
}
.second-section .half-width:nth-child(2){
    padding-top: 55px;
}
.pipe-color{
    color: #FF8367;
}
.projects-section{
    background-color: #F8F9FC;
    height: 700px;
    padding-top: 70px;
}
.project-colorful-text{
    color: #F46060;
}
.projects-section h2{
    text-align: center;
    margin-bottom: 50px;
}
.projects{
    width: 1250px;
    margin: 10px auto;

}
.project-item{
    text-align: left;
    width: 28%;
    float: left;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    margin-left: 3%;
    padding: 10px;
    border-radius: 20px;
}
.project-item img{
    width: 100%;
}
.projects-section h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.inquery-section{
    height: 240px;
    padding: 160px 0 80px;
    width: 914px;
    margin: auto;
}
.banner{
    background-image: url("images/inquery.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 126px;
    padding: 50px;
    position: relative;
}

.banner h1{
    float: left;

}
.banner a{
    position: absolute;
    top: 86px;
    right: 60px;
}
footer h4{
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #696871;
    text-align: center;
    font-weight: 400;
    margin: 10px;
}
footer h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #363958;
    font-weight: bold;
}
.icon-hub img{
    width: 40px;
    margin-left: 20px;
}
.icon-hub{
    padding: 20px 0 40px;
    text-align: center;
}
/* skill part -bonus */

.skill-section{
    height: 185px;
    padding: 50px 0 80px;
    width: 914px;
    margin: auto;
}
.skill-section h2{
    text-align: center;
}
.skills{
    margin: 20px auto 0px;
    width: 620px;

}
.single-skill{
    float: left;
    width: 160px;
    margin-left: 10%;
    box-shadow: 7px 7px 20px 6px rgb(68 44 173 / 21%);
    text-align: center;
    padding: 20px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.skills img{
    width: 100px;
}